:root {	
		--color_violet: #9500FF;
		--color_grey: #808080;
	    --color_navy: #4D4DFF;
	    --color_green: #39FF14;
	    --color_blue: #00FEFC;
	    --color_red: #FF1818;
        --color_brown: #C3732A;
        --color_orange: #FF5F1F;
        --color_yellow: #FFF01F;
        --color_tree: #66FF66;

        --color_road: #1B1B1B;
        --color_lines: #FBFFFF;

        --stroke_1: max(0.1vw, 0.1vh);   
        --stroke_2: calc(var(--stroke_1) * 9); 
        --stroke_3: calc(var(--stroke_1) * 4);
        --stroke_3_main: calc(var(--stroke_1) * 6);
        --height_00: max(4vw, 4vh); 
	    --height_car: max(11vw, 11vh);
        --blur: calc(var(--stroke_1) * 5);

	    --height_100: calc(100% - 2*var(--height_0)); /* 100% */
	    --height_101: calc(100vh - 2*var(--height_0)); /* 100vh */

	    --trans_color: color 0.5s ease-in-out; /* color transition */
	}

*, html, body, h1, h2, h3, h4, h5, h6, a, img, ul, ol, li, div, span, b, time, mark,
u, p, input, label, textarea, select, option {	
												color: var(--text_color);
                                            	font-family: paganini, sans-serif;
												font-size: var(--height_0);
												line-height: 1.5;
												font-weight: 200;
												font-style: normal;
                      							margin: 0;
                      							padding: 0;
                      							position: relative;
                      							border: 0;
                      							vertical-align: top;
                      							z-index: auto;
                                            	box-sizing: border-box; 
                                            	transition: 1s ease-in-out;
                                            }												  			  										

html, 
body,
.wrap,
.row {	
				width: 100%;
				height: 100%;
                overflow: hidden;
                background-color: #1A1110;
}

#main_page {
	background-color: #1A1110;
	height: 100%;
}

.svg_pic svg  {
    height: 100%;
    position: absolute;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.svg_pic svg:nth-child(1) {
    filter: blur(var(--blur));
}

.svg_pic.decor svg:nth-child(1) {
    filter: blur(calc(var(--blur)*1.1));
}

.svg_pic.car {
    height: var(--height_car);
    z-index: 99;
}

.svg_pic.car svg:nth-child(1) path {
    stroke-width: var(--stroke_3);
    transform: translate(calc(var(--stroke_2)/2), calc(var(--stroke_2)/2)) scale(0.65); 
    fill: var(--color_road);   
}
.svg_pic.car svg:nth-child(2) path {
    stroke-width: var(--stroke_1);
    transform: translate(calc(var(--stroke_2)/2), calc(var(--stroke_2)/2)) scale(0.65); 
}
.svg_pic.car svg:nth-child(3) path {
    stroke: white;
    stroke-width: calc(var(--stroke_1)/3);
    transform: translate(calc(var(--stroke_2)/2), calc(var(--stroke_2)/2)) scale(0.65); 
}

.svg_pic.car#main_car svg:nth-child(1) path {
    stroke-width: var(--stroke_2);
}
.svg_pic.car#main_car svg:nth-child(2) path {
    stroke-width: var(--stroke_3);
}


.svg_pic.car#main_car svg:nth-child(1) path,
.svg_pic.car#main_car svg:nth-child(2) path {
    stroke: var(--color_red);
}

.svg_pic.car#car_1 svg:nth-child(1) path,
.svg_pic.car#car_1 svg:nth-child(2) path,
.svg_pic.car#car_1 svg:nth-child(3) path {
    stroke: var(--color_blue);
}
.svg_pic.car#car_2 svg:nth-child(1) path,
.svg_pic.car#car_2 svg:nth-child(2) path,
.svg_pic.car#car_2 svg:nth-child(3) path {
    stroke: var(--color_violet);
}


.road {
    position: absolute;
    top: 0;
    height: 1000%;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    z-index: auto;
}

.road .road_sides {
    width: calc(var(--height_car)*2);
    background-color: var(--color_road);
    border-left: var(--stroke_1) var(--color_lines) solid;
    border-right: var(--stroke_1) var(--color_lines) solid;
    display: flex;
    justify-content: center;
}

.road .road_lines {
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--stroke_1);
    border: var(--stroke_1) var(--color_lines) dashed;
}






.svg_pic.decor svg:nth-child(1) path {
    stroke-width: var(--stroke_3);
    transform: translate(calc(var(--stroke_2)/2), calc(var(--stroke_2)/2)) scale(0.5);
}
.svg_pic.decor svg:nth-child(2) path {
    stroke-width: var(--stroke_1);
    transform: translate(calc(var(--stroke_2)/2), calc(var(--stroke_2)/2)) scale(0.5);
}
.svg_pic.decor svg:nth-child(3) path {
    stroke: white;
    stroke-width: calc(var(--stroke_1)/3);
    transform: translate(calc(var(--stroke_2)/2), calc(var(--stroke_2)/2)) scale(0.5);
}

.svg_pic.tree svg {
	height: var(--height_car);
}
.svg_pic.tree svg:nth-child(1) path { 
    stroke: var(--color_tree);
}
.svg_pic.tree svg:nth-child(3) path { 
    stroke: var(--color_tree);
}



.svg_pic.house svg {
    height: var(--height_car);
    transform: rotate(90deg);
}
.svg_pic.house svg path {
    transform-box: fill-box;
    transform-origin: center;
}
.svg_pic.house svg:nth-child(1) path { 
    stroke: var(--color_brown);
}
.svg_pic.house svg:nth-child(3) path { 
    stroke: var(--color_brown);
}



.svg_pic.light svg {
	height: calc(var(--height_car)/1);
}

.svg_pic.light svg path { 
    fill: var(--color_lines);
    stroke: var(--color_lines);
    transform: scale(0.8);
    transform-origin: center;
}
.svg_pic.light svg:nth-child(1) { 
    filter: blur(calc(var(--blur)*4.5));
}
.svg_pic.light svg:nth-child(2) {

    transform: scale(0.3);
}

.lights_section {
    width: calc(var(--height_car)/1);
    height: 100%;
    display: flex;
    z-index: 999;
}
.lights_section:first-child {
    left: calc(var(--height_00)/2);
}
.lights_section:last-child {
    right: calc(var(--height_00)/2);
}
.lights_section .svg_pic.light:nth-child(2) {
    top: calc(var(--height_car)*2);
}
.lights_section .svg_pic.light:nth-child(3) {
    top: calc(var(--height_car)*4);
}




.decor_section {    
    position: absolute;
    top: calc(var(--height_car)*-2.5);
    height: 100%;
    width: 30%;
}

.decor_section.right_section {
    right: 0;
    transform: scaleX(-1);
}


.decor_section .decor_part:nth-child(1) {
    top: 0;
}
.decor_section .decor_part:nth-child(2) {
    top: calc(var(--height_car)*2.2);
}
.decor_section .decor_part:nth-child(3) {
    top: calc(var(--height_car)*2.2*2);
}
.decor_section .decor_part:nth-child(4) {
    top: calc(var(--height_car)*2.2*3);
}

.decor_section .decor_part .tree_line {
    display: flex;
    flex-direction: row;
}
.decor_section .decor_part .tree_line .tree:nth-child(2) {
    left: calc(var(--height_00)*1.5);
}

.decor_section .decor_part .house {
    top: calc(var(--height_car)/1.15);
    left: -5%;
}

.decor_section .decor_part .tree_line:last-child {
    top: calc(var(--height_car)*1.7);
}















#main_page1 {
    animation-fill-mode: forwards; 
    animation-timing-function: ease;
    animation-name: main_move;
    animation-duration: 3s;
    animation-delay: 0.3s;
}

@keyframes main_move1 {
    from {top: 0;}
    to { top: 20%;}
}


.svg_pic.car {
    animation-fill-mode: forwards;
}

.svg_pic.car#car_1 {
    animation-name: example_1;
    animation-duration: 4s;
}
.svg_pic.car#car_2 {
    animation-name: example_2;
    animation-duration: 4s;
}

.svg_pic.car#main_car {
    animation-name: example_main_car;
    animation-duration: 4s;
}

@keyframes example_1 {
    0% {top: 55%;}
    50% {left: 40%;}
    100% { top: 0%; left: 45%;}
}
@keyframes example_2 {
    0% {top: 60%;}

    100% { top: 0%; left: 55%;}
}

@keyframes example_main_car {
    from {top: 60%; left: 45%;}
    to { top: 0%; left: 60%;}
}